{% extends 'base.html.twig' %}

{% block title %}Transcom{% endblock %}

{% block body %}
<style>
    .wallpaper {
        background-image: url("images/background.jpg");
        width: 100%;
        height: -webkit-fill-available;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }
</style>

<div class="wallpaper">
</div>
{% endblock %}
